{% load staticfiles %}
<style>
    .page-header {
    background-color: #87CEFA;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}



h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


</style>

<div class="page-header">
    <h1><a href="/">Comments</a></h1>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'mainApp/style.css' %}" />

<form action="" method="post" style="display: flex; flex-direction: column; width: 450px; margin: 0 auto 0 auto;">
    {% csrf_token %}
    {{ form }}
    <input class="form-control" placeholder="Default input" type="submit" value="добавить">

  </form>
