{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="ru-eu">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
{% block comment %}

{% endblock %}
{% block content %}

{% endblock %}




</body>

</html>
